.manage-images {
  &__page {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: #{$unit-base}px #{$unit-base / 4}px #{$unit-base * 1.5}px;

    .manage-images {
      &__back {
        color: $col-primary;
        left: 15px;
        position: absolute;
        top: 15px;
      }
    }
  }

  &__title {
    color: $col-primary;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 auto;
  }
  &__section-title {
    color: $col-primary;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.4em 0;
  }

  &__images-wrapper {
    padding-bottom: 200px;
    width: 100%;
  }

  &__stories-wrapper {
    column-gap: #{$unit-base / 4}px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: #{$unit-base / 4}px;
  }
}

.buttons {
  &__wrapper {
    bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  &__button {
    flex: 0 1 200px;

    &--cancel {
      padding: 8px 14px;
    }
  }
}
