@import '../../../styles/main';

.input {
  margin: 12px auto 0;

  &__label {
    cursor: pointer;
    display: flex;
    font-size: smaller;
    text-align: left;

    a {
      color: inherit !important;
      text-decoration: underline;
    }

    &:hover {
      .checkbox {
        &::after {
          opacity: 0.6;
        }
        &--active::after {
          opacity: 1;
        }
      }
    }
  }
}
