.verify-email {
  &__page {
    @extend %unit-page-padding;

    align-items: center;
    background: $col-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }

  &__title {
    color: $col-primary;
    font-size: 1.4em;
    font-weight: bold;
    margin: $unit-base auto;
    text-align: center;
  }
}
