.profile-page {
  .hidden-button {
    height: 48px;
    visibility: hidden;
    width: 48px;
  }
  .features {
    display: block;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    .feature {
      border: 1px solid #af5f94;
      color: #af5f94;
      margin: 0 0.5rem;
    }
  }
  .profile-image-container {
    margin: 1rem;
    margin-bottom: 0;
    .profile-image {
      border-radius: 5px;
      height: 180px;
      width: 100%;
    }
  }
  .details {
    padding-bottom: 6rem;
    padding-top: 0;
    .title {
      color: #5f6daf;
      font-size: 0.9rem;
    }
    .description {
      font-size: 1rem;
    }
  }
  .button-row {
    bottom: 0;
    position: fixed;
  }
}
