.profile-page {
  .hidden-button {
    height: 48px;
    visibility: hidden;
    width: 48px;
  }
  .shop-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 15px;
    margin-bottom: 0;
  }
  .information-bar {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    .features {
      display: inline-block;
      margin: 1rem 1rem 0;
      text-align: left;
      .feature {
        border-radius: 15px;
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
        color: $primary;
        display: inline-block;
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0 0.3rem;
        padding: 0.1rem 0.5rem;
      }
    }
    .contacts {
      display: inline-block;
      margin: 1rem 1rem 0;
      .contact {
        background: $primary;
        border-radius: 50%;
        display: inline-block;
        margin: 0.3rem;
        .icon {
          color: #fff;
          font-size: 1rem;
          padding: 0.5rem;
        }
      }
    }
  }
  .profile-image-container {
    margin: 1rem;
    margin-bottom: 0;
    .profile-image {
      border-radius: 15px;
      height: 180px;
      width: 100%;
    }
  }
  .details-container {
    display: block;
    margin-top: 1rem;
    width: 100%;
    .details {
      .left-side {
        margin: 1rem;
      }
      .right-side {
        margin: 1rem;
      }
      .title {
        color: #5f6daf;
        font-size: 0.7rem;
      }
      .description {
        font-size: 0.8rem;
      }
    }
  }
  .button-row-container {
    display: block;
    margin: 1rem 0;
    width: 100%;
    .button-row {
      text-align: center;
      width: 100%;
      .button {
        border-radius: 50%;
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
        color: $primary;
        display: inline-block;
        margin: 0.5rem;
        padding: 0.8rem;
      }
    }
  }
}
