// classes here are only available as modules
* {
  box-sizing: border-box;
  margin: 0;
}

$phone-width: 600px;

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: $phone-width) { }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { } 

/* Screen-Orientation: portrait */
@media screen and (orientation: portrait) { }

/* Screen-Orientation: landscape */
@media screen and (orientation: landscape) { }

/* Mögliche Max Größe? */
body:first-child {
  max-width: 520px;
  max-height: 1000px;
}