{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-sass-guidelines",
        "stylelint-config-prettier",
        "stylelint-prettier/recommended"
    ],
    "plugins": ["stylelint-prettier"],
    "rules": {
        "prettier/prettier": true,
        "max-nesting-depth": 3
    }
}