.manage-profile {
  &__page {
    min-height: 100%;
    background: $col-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $unit-base 0 0 0;
    justify-content: space-between;
    overflow-y: scroll;
    
    &__title {
      @extend %font-title;
      margin: 0 auto;
      position: relative;
      top: -$dist-title-top;
    }
    
  }

  &__back {
    color: $col-primary;
    left: 15px;
    position: absolute;
    top: 15px;
  }

  &__form-wrapper {
    position: relative;
    width: 100%;
    flex: 1 1 100%;
    background-color: $col-primary-light;
    border-radius: $unit-base-quarter $unit-base-quarter 0 0;
    padding: $unit-base-quarter $unit-base-quarter $unit-base-half;
  }
}
