.logout {
  &__page {
    align-items: center;
    background: $col-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @extend %unit-page-padding;
  }

  &__logo {
    margin-bottom: $unit-base-half;
    width: 40%;
  }
  &__title {
    color: $col-primary;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: $unit-base-half;
  }

  &__button {
    margin-bottom: $unit-base-quarter;
    width: 260px;
  }
}
