@import '../../../styles/main';

.logout {
  &__page {
    align-items: center;
    background: $col-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: #{$base-unit}px #{$base-unit / 4}px;
  }

  &__logo {
    margin-bottom: #{$base-unit / 2}px;
    width: 40%;
  }
  &__title {
    color: $primary;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: #{$base-unit / 2}px;
  }

  &__button {
    margin-bottom: #{$base-unit/4}px;
    width: 260px;
  }
}
