// All variables here are available in every SASS file expect in styles/global/
$max-desktop-width: 500px;

// COLORS
$col-transparent: hsla(0, 0%, 100%, 0);
$col-background: hsl(233, 27%, 94%);
$col-white: hsl(0, 0%, 100%);
$col-text: hsl(0, 0%, 15%);
$col-primary: hsl(230, 33%, 53%);
$col-primary-very-light: hsl(231, 45%, 83%);
$col-primary-light: hsl(231, 56%, 74%);
$col-primary-dark: hsl(231, 36%, 41%);
$col-secondary: hsl(320, 33%, 53%);
$col-success: hsl(122, 39%, 49%);
$col-error: hsl(0, 100%, 66%);
$col-disabled: hsl(0, 0%, 53%);
$col-red: hsl(0, 88%, 32%);
$col-red-dark: hsl(0, 80%, 25%);
$col-grey: hsl(0, 0%, 53%);
$col-grey-light: hsl(0, 0%, 91%);

$col-input-background: inherit;
$col-input-label: $col-primary;
$col-input-label-focus: $col-primary-dark;
$col-input-underline: hsl(0, 0%, 78%);
$col-input-underline-focus: $col-primary-dark;

// SHADOWS
$elevation-1: 0 1px 3px hsla(0, 0%, 0%, 0.15); // Background-elements (e.g. Image)
$elevation-2: 0 3px 6px hsla(0, 0%, 0%, 0.15); // Elements (Nav-bar über background)
$elevation-3: 0 3px 6px hsla(0, 0%, 0%, 0.1), 0 3px 12px 0 rgba(0, 0, 0, 0.2); // action-elements (buttons)
$elevation-4: 0 3px 18px 6px hsla(0, 0%, 0%, 0.55); // Modals
$elevation-5: 0 3px 6px hsla(0, 0%, 0%, 0.15); // NOTICE ME SENPAI

// SIZES
$unit-nav-icon: 48px;
$unit-checkbox: 24px;

$unit-base: 64px; // better would be grid system with % values
$unit-base-half: $unit-base / 2; //               = 32 px
$unit-base-quarter: $unit-base / 4; //            = 16 px

%unit-page-padding {
  padding: $unit-base $unit-base-quarter ($unit-base * 1.5);
}

$unit-font-default: 1rem; //                      = 1.0 rem
$unit-font-title: 1.4 * $unit-font-default; //    = 1.4 rem
$unit-font-subtitle: 1.1 * $unit-font-default; // = 1.125 rem
$unit-font-input: $unit-font-default; //          = 1.0 rem

// FONT
%font-title {
  color: $col-primary;
  font-size: $unit-font-title;
  font-weight: bold;
  letter-spacing: -0.05rem;
  line-height: $unit-font-title;
}

// DISTANCES
$dist-nav-top: $unit-base / 3; //                    = 21 px
$dist-title-top: $unit-base * (7 / 16); //           = 28 px
$dist-padding-bottom: $unit-base * 1.5; //           = 96 px

$dist-input-padding: $unit-font-input * 0.25; //     = 0.25 rem
