// All variables here are available in every SASS file expect in styles/global/
$primary: rgb(95, 109, 175);
$primary-light: rgb(108, 122, 190);
$secondary: #af5f94;
$background: #eaebf3;
$success: #4caf50;

$max-desktop-width: 500px;
