// All variables here are available in every SASS file expect in styles/global/
$primary: rgb(95, 109, 175);
$primary-light: rgb(108, 122, 190);
$secondary: rgb(175, 95, 148);
$background: rgb(234, 235, 243);
$success: rgb(76, 175, 80);

$max-desktop-width: 500px;

// COLORS
$col-background: rgb(232, 232, 232);
$col-white: rgb(255, 255, 255);
$col-primary: rgb(95, 109, 175);
$col-primary-dark: rgb(67, 79, 143);
$col-grey: rgb(110, 110, 110);
$col-grey-light: rgb(242, 242, 242);

// SHADOWS
$elevation-1: 0 1px 3px rgba(0, 0, 0, 0.15); // Background-elements (e.g. Image)
$elevation-2: 0 3px 6px rgba(0, 0, 0, 0.15); // Elements (Nav-bar über background)
$elevation-3: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 12px 0 rgba(0, 0, 0, 0.2); // action-elements (buttons)
$elevation-4: 0 3px 18px 6px rgba(0, 0, 0, 0.55); // Modals
$elevation-5: 0 3px 6px rgba(0, 0, 0, 0.15); // NOTICE ME SENPAI

// SIZES
$base-unit: 64;
