.manage-images {
  &__form {
    align-items: center;
    background-color: $col-primary-very-light;
    border-radius: $unit-base-quarter;
    display: flex;
    flex-direction: column;
    margin: 0 auto $unit-base-half;
    padding: $unit-base-quarter;
    width: 100%;

    &-preview {
      border-radius: $unit-base-quarter;
      box-shadow: $elevation-2;
      display: block;
      flex-shrink: 0;
      margin: auto;
      object-fit: cover;
    }
    &-buttons {
      margin: (0.75 * $unit-font-default) 0 (0.25 * $unit-font-default) (-0.25 * $unit-font-default);
    }
  }
  &__upload-image-button {
    margin: 0;
    width: 100%;
  }
}

.form-hints {
  &__wrapper {
    color: $col-primary;
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
    justify-content: center;
    margin: $unit-base-quarter auto;
    width: 100%;
  }
  &__title {
    flex: 1 0 100%;
    margin-bottom: 0.5 * $unit-font-default;
    text-align: center;
  }
  &__top {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding-top: 0.5 * $unit-font-default;
  }
}
