.header {
  box-sizing: border-box;
  display: flex;
  padding: 15px 74px 15px 15px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header-left-side {
  margin-right: 15px;

  &__logo {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgb(220, 220, 220);
    display: flex;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    width: 60px;
  }
}

.header-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  &__name {
    color: $col-white;
    font-family: 'FuturaBT-Medium', helvetica, arial, sans-serif;
    font-size: $unit-font-default;
  }
  &__date {
    color: $col-grey-light;
    font-family: 'FuturaBT-Medium', helvetica, arial, sans-serif;
    font-size: $unit-font-small;
  }
}

.story-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  &__video-play-button {
    height: 50px;
    width: 50px;
  }
}

.story {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;

  &__background {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 5%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.4));
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
