@import '../../../styles/main';

.login {
  &__page {
    align-items: center;
    background: $col-white;
    display: flex;
    flex-direction: column;
    padding: #{$base-unit / 2}px #{$base-unit / 4}px;
  }

  &__title {
    color: $primary;
    font-size: 1.8em;
    font-weight: bold;
    width: 330px;
  }
  &__subtitle {
    color: $primary;
    font-size: 1.2em;
    max-width: 330px;
  }

  &__button {
    width: 300px;
  }
}
