.explore-page {
  background: #000;
  height: 100%;
  width: 100%;

  &__background {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 5%, transparent 30%);
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .vertical-swiper {
    min-height: 100%;
    top: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
  }
  .profile {
    overflow: auto;
    z-index: 1;

    &__placeholder {
      background: rgb(255, 255, 255);
      min-height: 100%;
    }
  }
}
