.legal {
  color: #707070;
  font-size: $unit-font-small;
  height: 100%;
  overflow: auto;
  padding: $unit-base-quarter;
  &__title {
    font-size: 1.2rem;
  }
  &__section {
    font-size: 1rem;
  }
  &__subsection {
    font-size: 1rem;
  }
  &__paragraph {
    margin: $unit-base-eigth 0;
    word-break: break-word;
  }
  &__list {
    margin-left: $unit-base-quarter;
  }
  .close-button {
    margin: $unit-base-quarter;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 402;
    .icon {
      color: $col-primary;
      text-decoration: none !important;
    }
  }
}
