.manage-profile {
  &__form {
    color: $col-primary;
    width: 100%;
  }

  &__section-title {
    font-size: $unit-font-subtitle;
    font-weight: bold;
    line-height: 1.2 * $unit-font-title;
    margin: (1.5 * $unit-font-subtitle) 0 (0.15 * $unit-font-subtitle);
  }
  &__submit {
    display: block;
    margin-top: 1.5 * $unit-base-half;
    text-align: center;
  }
}
