@import '../../../styles/main';

.textarea {
  background-color: $col-white;
  color: $col-text;
  font-family: inherit;

  &__wrapper {
    margin-bottom: #{$base-unit / 8}px;
  }

  &__label {
    color: $col-primary;
  }

  &__max-length {
    color: $col-primary;
    display: flex;
    font-size: smaller;
    justify-content: flex-end;
    width: 100%;
  }
  &__errors {
    color: $col-error;
  }
  &__error {
    color: inherit;
  }
}
