.register-complete {
  &__page {
    align-items: center;
    background: $col-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    @extend %unit-page-padding;

    p .text--primary {
      margin-bottom: $unit-base-half;
    }
  }

  &__title {
    color: $col-primary;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 auto $unit-base-half;
  }

  &__button {
    width: 300px;
  }
}
