.request-new-password {
  &__page {
    @extend %unit-page-padding;

    align-items: center;
    background: $col-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    .amplifier {
      &.text--primary {
        margin: 0 0 $unit-base-half 0;
      }
    }

    .request-new-password {
      &__back {
        color: $col-primary;
        left: 15px;
        position: absolute;
        top: 15px;
      }
    }
  }
  &__title {
    color: $col-primary;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 auto $unit-base-half;
  }
}
