.input {
  margin: auto;
  max-width: 18rem;

  .checkbox {
    border: 2px solid $primary;
    border-radius: 4px;
    flex-shrink: 0;
    height: 20px;
    margin-right: 12px;
    position: relative;
    width: 20px;

    &::after {
      background-color: $primary;
      border-radius: 2px;
      content: '';
      height: 12px;
      left: 2px;
      opacity: 0;
      position: absolute;
      top: 2px;
      width: 12px;
    }

    &--active {
      &::after {
        opacity: 1;
      }
    }
  }

  &__label {
    &--checkbox {
      cursor: pointer;
      display: flex;
      text-align: left;

      a {
        color: inherit !important;
        text-decoration: underline;
      }

      &:hover {
        .checkbox {
          &::after {
            opacity: 0.6;
          }
          &--active::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
