.loading-error-container {
  align-items: center;
  background: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;

  &__close {
    align-items: center;
    background: rgb(266, 266, 266);
    border-radius: 999px;
    box-shadow: inset 0 0 1px 1px rgb(220, 220, 220);
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 36px;

    &--wrapper {
      height: 0;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 10000;
    }
    .icon {
      color: $col-primary !important;
    }
  }
  .loading-error {
    text-align: center;
    .message {
      color: #000 !important;
      display: inline-block;
      width: 100%;
      .icon {
        color: #000 !important;
        height: 30px;
        width: 30px;
      }
    }
  }
}
.profile-page {
  background: #fff;
  min-height: 100%;
  position: relative;

  &__close {
    align-items: center;
    background: rgb(266, 266, 266);
    border-radius: 999px;
    box-shadow: inset 0 0 1px 1px rgb(220, 220, 220);
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 36px;

    &--wrapper {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
      height: 0;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 10000;
    }
    .icon {/* stylelint-disable-line */
      color: $col-primary !important;
    }
  }

  &_container {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
  }

  &__title {
    color: $col-primary;
    font-size: 1.4rem;
    margin-bottom: 0.5em;
  }
  .location-container {
    align-items: center;
    display: flex;
    height: 106px;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
    .leaflet-control-zoom {
      visibility: hidden !important;
    }
    .location {
      height: 100%;
      width: 100%;
      .picture {
        height: 100%;
        width: 100%;
      }
    }
    .bar {
      background: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      bottom: -5px;
      height: 5px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1000;
      .arrow-container {
        bottom: 5px;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
        height: 100%;
        left: 50%;
        position: sticky;
        width: 100%;
        z-index: 1000;
        .arrow {
          background: #fff;
          position: sticky;
        }
        .arrow::after,
        .arrow::before {
          border: solid transparent;
          bottom: 100%;
          content: ' ';
          height: 0;
          left: 50%;
          pointer-events: none;
          position: absolute;
          width: 0;
        }
        .arrow::after {
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: #fff;
          border-width: 24px;
          margin-left: -24px;
        }
        .arrow::before {
          border-color: rgba(194, 225, 245, 0);
          border-bottom-color: #fff;
          border-width: 24px;
          margin-left: -24px;
        }
      }
    }
  }

  .information-bar {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    .features {
      display: inline-block;
      margin: 1rem 1rem 0;
      text-align: left;
      .feature {
        border-radius: 15px;
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
        color: $col-primary;
        display: inline-block;
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0 0.3rem;
        padding: 0.1rem 0.5rem;
      }
    }
    .contacts {
      display: inline-block;
      margin: 1rem 1rem 0;
      .contact {
        background: $col-primary;
        border-radius: 50%;
        display: inline-block;
        margin: 0.3rem;
        .icon {
          color: #fff;
          font-size: 1rem;
          padding: 0.5rem;
        }
      }
    }
  }
  .profile-image-container {
    margin-bottom: 1em;

    .profile-image {
      border-radius: 15px;
      pointer-events: none;
      width: 100%;
      img {
        border-radius: inherit;
        width: inherit;
      }
    }
  }
  .details-container {
    .details {
      .row {
        clear: both;
        margin-bottom: 1em;
        padding: 5px 0;

        .left-side {
          display: inline-block;
          float: left;
          width: 50%;
        }
        .right-side {
          display: inline-block;
          float: right;
          width: 50%;
        }
        .updated {
          text-align: right;
        }
      }
      .title {
        color: #5f6daf;
        font-size: 0.7rem;
        margin-bottom: 0.5em;
      }
      .description {
        font-size: 0.8rem;
        a {
          overflow-wrap: break-word;
        }
      }
    }
  }

  .feature-info {
    background: rgb(234, 234, 242);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    .feature-container {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      width: 33%;
      .feature {
        display: inline-block;
        font-size: 0.6rem;
        text-align: center;
        .icon {
          margin-bottom: 10px;
          .image {
            height: 40px;
            pointer-events: none;
            width: 40px;
          }
        }
        .title {
          font-weight: bold;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
        .description {
          //text-align: left;
          text-align: center;
        }
      }
      @media (max-width: 374px) {
        width: 50%;
      }
    }
    .feature-container:nth-child(3) {
      @media (max-width: 374px) {
        margin-top: 15px;
      }
    }
  }

  .button-row-container {
    display: block;
    margin: 16px 0;
    width: 100%;
    .button-row {
      text-align: center;
      width: 100%;
      .button {
        border-radius: 50%;
        display: inline-block;
        font-size: 20px;
        height: 50px;
        margin: 0.5rem;
        width: 50px;
      }
      .button.brand {
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
        padding: 0.8rem;
        .icon {
          color: $col-primary;
        }
      }
      .button.normal {
        background: $col-primary;
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
        padding: 0.8rem;
        text-align: center;
        .icon {
          color: #fff;
          font-size: 1.5rem;
          padding: 0.1rem;
        }
      }
    }
  }

  .stories {
    &__container {
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      grid-template-columns: 1fr 1fr;
    }

    .headline {
      color: #5f6daf;
      font-size: 1rem;
      margin-bottom: 1em;
    }
    .story-container {
      .story {
        .story-image {
          border-radius: 15px;
          overflow: hidden;
          width: 100%;

          img {
            display: block;
          }
        }
        .description {
          font-size: 0.8rem;
        }
        .date {
          font-size: 0.7rem;
        }
      }
    }
  }
}
