.register {
  &__page {
    align-items: center;
    background: $col-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    @extend %unit-page-padding;

    .register {
      &__back {
        color: $col-primary;
        left: 15px;
        position: absolute;
        top: 15px;
      }
    }
  }

  &__title {
    color: $col-primary;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 auto;
  }

  &__existing-user {
    align-items: center;
    display: flex;
    flex-direction: column;

    p .text--primary {
      margin-bottom: 0.5em;
    }
  }

  &__button {
    width: 300px;
  }
}
