.wvh-button {
  &__container {
    background: $col-white;
    border-radius: 24px;
    box-shadow: $elevation-3;
    color: $col-primary !important; // important here because of vuetify
    cursor: pointer;
    font-family: 'FuturaBT-Medium', sans-serif;
    margin: #{$base-unit / 8}px;
    padding: #{$base-unit / 4}px #{$base-unit / 3}px;
    text-align: center;

    .icon {
      color: $col-primary !important; // important here because of vuetify
      float: right;
      margin-left: 5px;
    }

    &:active,
    &:hover {
      background-color: $col-grey-light;
    }

    &--primary {
      background: $col-primary;
      color: $col-white !important; // important here because of vuetify
      text-transform: uppercase;

      &:active,
      &:hover {
        background-color: $col-primary-dark;
      }
    }

    &--large {
      font-size: larger;
      padding: #{$base-unit / 3.25}px #{$base-unit / 2}px;
    }

    &--disabled {
      background-color: $col-disabled;
      color: $col-white !important;
      cursor: default;
      opacity: 0.7;
    }
  }
}
