.wvh-button {
  &__container {
    background: $col-white;
    border-radius: 24px;
    box-shadow: $elevation-3;
    color: $col-primary !important; // important here because of vuetify
    cursor: pointer;
    display: inline-block;
    font-family: 'FuturaBT-Medium', sans-serif;
    margin: ($unit-base / 8);
    padding: $unit-base-quarter ($unit-base / 3);
    text-align: center;
    user-select: none;

    .icon {
      color: $col-primary !important; // important here because of vuetify
      float: right;
      margin-left: 5px;
    }

    &:active,
    &:hover {
      background-color: $col-grey-light;
    }

    &--primary {
      background: $col-primary;
      color: $col-white !important; // important here because of vuetify
      text-transform: uppercase;

      &:active,
      &:hover {
        background-color: $col-primary-dark;
      }
    }
    &--cancel {
      background: $col-red;
      color: $col-white !important; // important here because of vuetify
      text-transform: uppercase;

      &:active,
      &:hover {
        background-color: $col-red-dark;
      }
    }

    &--large {
      font-size: larger;
      padding: ($unit-base / 3.25) $unit-base-half;
    }

    &--disabled {
      background-color: $col-disabled;
      color: $col-white !important;
      cursor: default;
      opacity: 0.7;
      pointer-events: none;

      &:hover,
      &:active {
        background-color: $col-disabled;
        color: $col-white !important;
        cursor: default;
        opacity: 0.7;
      }
    }
  }
}
