.landing {
  &__page {
    align-items: center;
    background-color: $col-grey-light;
    background-image: url('/assets/imgs/wvh-pre-login_500px.png');
    background-position: right 80%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: #{$base-unit / 2}px #{$base-unit / 4}px #{$base-unit * 1.5}px;

    .landing {
      &__text {
        color: $col-white;
        font-size: 1.2em;
      }
    }
  }

  &__title {
    color: $primary;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0 auto 0 0;
  }
  &__subtitle {
    color: $primary;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto 0 0;
    max-width: 260px;
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__button {
    margin: #{$base-unit / 6}px 0;
    max-width: 80%;
    width: 260px;
  }

  &__to-user-frontend {
    bottom: #{$base-unit / 4}px;
    color: $col-primary !important;
    cursor: pointer;
    font-size: smaller;
    font-weight: bold;
    position: absolute;
  }
}
