.dashboard {
  &__page {
    align-items: center;
    background-color: $col-white;
    display: flex;
    flex-direction: column;
    padding-top: $unit-base;
  }

  &__logo {
    display: inline-block;
    margin: 0 0 $unit-base-half 0;
    width: 40%;
  }

  &__button {
    margin: $unit-base-quarter 0;
    max-width: 80%;
    width: 260px;

    &:nth-of-type(3) {
      margin: ($unit-base / 1.5) 0;
    }
  }
}
