@import '../../../styles/main';

.dashboard {
  &__page {
    align-items: center;
    background-color: $col-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    display: inline-block;
    margin: 0 0 #{$base-unit}px 0;
    width: 50%;
  }

  &__button {
    margin: #{$base-unit / 4}px 0;

    &:nth-of-type(3) {
      margin: #{$base-unit}px 0;
    }
  }

  &__logout {
    bottom: #{$base-unit / 3}px;
    color: $col-grey !important; // important here because of vuetify
    font-size: smaller;
    position: absolute;
    text-decoration: underline !important; // important here because of vuetify
  }
}
