.request-new-password {
  &__page {
    align-items: center;
    background: $col-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: #{$base-unit}px #{$base-unit / 4}px #{$base-unit * 1.5}px;

    .amplifier {
      &.text--primary {
        margin: 0 0 #{$base-unit / 2}px 0;
      }
    }

    .request-new-password {
      &__back {
        color: $col-primary;
        left: 15px;
        position: absolute;
        top: 15px;
      }
    }
  }
  &__title {
    color: $primary;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 auto #{$base-unit / 2}px;
  }
}
