.register {
  &__form {
    align-items: center;
    color: $primary;
    display: flex;
    flex-direction: column;
    margin: #{$base-unit / 3}px auto #{$base-unit / 3}px;
    max-width: 300px;
    width: 300px;
  }
}
