.login {
  &__page {
    align-items: center;
    background: $col-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding: ($unit-base) $unit-base-quarter ($unit-base * 1.5);
  }

  &__title {
    color: $col-primary;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 auto;
  }

  &__new-user {
    align-items: center;
    display: flex;
    flex-direction: column;

    p {
      color: $col-primary;

      .text--primary {
        margin-bottom: 0.5em;
      }
    }
  }

  &__button {
    width: 300px;
  }
}
