.textarea {
  width: 100%;

  &__field {
    height: $dist-input-padding + 3 * 1.5 * $unit-font-input; // 3 lines * 1.5 line-height * font-size
  }

  &__inner {
    margin-bottom: -$unit-font-input;
  }
}
