.textarea {
  width: 100%;

  &__wrapper {
    margin: 0 auto 0 auto;

    &--active {
      margin-bottom: 0;
    }
  }

  &__field {
    border-top: 1px solid $col-input-underline;
    height: $dist-input-padding + 4*1.5*$unit-font-input; // 4 lines * 1.5 line-height

    &--active {
      border-top: none;
    }
  }

  &__inner {
    margin-bottom: -$unit-font-input;
  }
}
