.information-page-container {
  /* background: $col-background; */
  font-family: 'FuturaBT-Medium', sans-serif;
  position: relative;
  width: 100%;

  .information-page {
    margin: 15px;
    margin-top: 65px;

    .headline {
      color: $col-primary;
      font-size: 1.4rem;
      margin: 10px;
      width: 100%;
    }
    .editor {
      .section {
        .title {
          color: $col-primary;
          font-size: 1.2rem;
          margin: 10px;
          width: 100%;
        }
        .inputs {
          font-size: 0.8rem;
          margin: 20px;
        }
      }
      .selection {
        .label {
          font-size: 1rem;
          margin-bottom: 10px;
        }
        .switch {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
