@import '../../../styles/main';

.reset-password-success {
  &__page {
    align-items: center;
    background: $col-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: #{$base-unit}px #{$base-unit / 4}px #{$base-unit * 1.5}px;
  }

  &__title {
    color: $primary;
    font-size: 1.4em;
    font-weight: bold;
    margin: auto;
  }
}
