.legal {
  color: #707070;
  font-size: 0.8rem;
  padding: 15px;
  &__title {
    font-size: 1.2rem;
  }
  &__section {
    font-size: 1rem;
  }
  &__subsection {
    font-size: 1rem;
  }
  .close-button {
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 402;
    .icon {
      color: $col-primary;
      text-decoration: none !important;
    }
  }
}
