$icon-size: $unit-nav-icon;

.navigation {
  display: contents;

  &__trigger {
    box-sizing: border-box;
    border-radius: 0.125 * $icon-size; // 0.5 = circle, 0.125 = square-round edges
    box-shadow: $elevation-2;
    background-color: $col-white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.6 * $unit-font-default;
    height: $icon-size;
    width: $icon-size;
    position: fixed;
    right: ($unit-base / 3);
    top: ($unit-base / 3);
    color: $col-primary;
    z-index: 1;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
