.landing-page {
  background: rgb(232, 232, 232);
  color: #fff;
  font-family: 'FuturaBT-Medium', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  height: 100%;
  text-decoration: uppercase;
  width: 100%;
}

.logo-container {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;

  .logo {
    display: block;
    height: 680px;
    left: 5rem;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    padding: 2rem 0;
    position: absolute;
  }
  .welcome {
    color: #5f6daf;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 14rem;
    .title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .desc {
      font-size: 1.2rem;
    }
  }
}

.button-container {
  display: block;
  margin-top: 0;
  text-align: center;
  width: 100%;

  @media (max-height: 800px) {
    bottom: 15px;
    position: absolute;
  }
  @media (min-height: 801px) {
    bottom: 15px;
    position: absolute;
  }

  .caption {
    display: block;
    font-size: 2rem;
    margin-top: -10rem;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .button {
    background-color: #fff;
    border-radius: 15px;
    height: 4rem;
    margin: auto;
    padding: 1.1rem;
    position: relative;
    text-align: center;
    width: 100%;
    width: 18rem;

    .icon,
    a {
      color: #5f6daf;
      font-size: 1.1rem;
      text-decoration: none;
    }
    &.location {
      font-weight: bold;
    }
  }
  .other-text {
    color: #5f6daf;
    font-size: 1rem;
    line-height: 3rem;
    position: relative;
    width: 100%;
  }
}
