// classes here are available as-is
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: 'FuturaBT-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/futura/FuturaBT-Medium.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'FuturaBT-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/futura/FuturaBT-Medium.ttf') format('truetype');
}

@media all and (display-mode: standalone) {
  .v-application--wrap {
    min-height: 100vh !important;
  }
}

.v-application a {
  text-decoration: none;
}

// TODO: get global variable $max-desktop-width in there
.v-overlay {
  @media (min-width: 500px) {
    left: calc(50% - 250px) !important;
  }

  max-width: 500px;
}

.swiper-slide {
  background: #000;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 120ms;
}
.fade-enter-to {
  opacity: 1;
}
.fade-leave {
  opacity: 1;
}
.fade-leave-active {
  transition: opacity 120ms;
}
.fade-leave-to {
  opacity: 0;
}

.pseudo-link {
  cursor: pointer;
  &:hover,
  &:active {
    text-decoration: underline;
  }
}
