// classes here are available as-is
@import 'transitions';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'FuturaBT-Medium', helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  width: 100%;
}

.cld-image {
  img {
    display: block;
  }
}
@font-face {
  font-family: 'FuturaBT-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/futura/FuturaBT-Medium.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'FuturaBT-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/futura/FuturaBT-Medium.ttf') format('truetype');
}

.v-application a {
  text-decoration: none;
}

// TODO: get global variable $max-desktop-width in there
.v-overlay {
  @media (min-width: 500px) {
    left: calc(50% - 250px) !important;
  }

  max-width: 500px;
}

.swiper-slide {
  background: #000;
}

.pseudo-link {
  cursor: pointer;
  &:hover,
  &:active {
    text-decoration: underline;
  }
}
