// classes here are available as-is

@font-face {
  font-family: 'FuturaBT-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/futura/FuturaBT-Medium.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'FuturaBT-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/futura/FuturaBT-Medium.ttf') format('truetype');
}

.v-application a {
  text-decoration: none;
}
