.input {
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;

    .input {
      &--text.amplifier {
        background-color: #fff;
        border-radius: 24px;
        color: $primary !important;
        margin: auto;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: #{$base-unit / 4}px !important;
        position: relative;
        text-align: center;
        width: 100%;

        label {
          color: inherit !important;
        }
      }
    }
  }
  &__inner {
    color: inherit;
  }
  &__label {
    color: inherit;
  }
  &__error-messages {
    display: flex;
    flex-direction: column;
    padding: #{$base-unit / 6}px 0;
  }

  &__error-message {
    color: $col-error;
    font-size: 12px;
    line-height: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
  }
  &__errors {
    display: flex;
    flex-direction: column;
    padding: #{$base-unit / 6}px 0;
  }

  &__error {
    color: $col-error;
    font-size: 12px;
    line-height: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
  }
}
