.input {
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto (1.125 * $unit-font-input) auto;
    position: relative;
    transition: margin-bottom 0.2s ease-in-out;
    width: 100%;

    &--active {
      margin-bottom: (1.125 * $unit-font-input);
    }
  }

  &__label {
    background-color: inherit;
    color: $col-input-label;
    font-size: $unit-font-input;
    left: 0;
    padding: 0 $dist-input-padding;
    position: absolute;
    transition: font-size 0.2s ease-in-out;

    &--active {
      color: $col-input-label;
      font-size: 0.8 * $unit-font-input;
      padding-left: 0;
    }

    &--disabled {
      color: $col-grey;
    }
  }

  &__field {
    background-color: $col-input-background;
    border-bottom: 1px solid $col-input-underline;
    color: $col-primary-dark;
    display: flex;
    font-family: inherit;
    font-size: $unit-font-input;
    line-height: 1.5 * $unit-font-input;
    margin: 0;
    padding: 0 $dist-input-padding;
    resize: none;
    transition: margin-top 0.2s ease-in-out, margin-bottom 0.2s ease-in-out;
    width: 100%;

    &--active {
      background-color: inherit;
      border-bottom: 1px solid $col-input-underline-focus;
      margin-bottom: -1.5 * $unit-font-input;
      margin-top: $unit-font-input + $dist-input-padding;
    }

    &--disabled {
      border-bottom: 1px solid $col-grey;
      color: $col-grey;
    }

    &:focus {
      outline: none;
    }
  }

  &__inner {
    color: $col-input-label;
    display: flex;
    transition: margin-top 0.2s ease-in-out;

    &--active {
      color: $col-input-label-focus;
      margin-top: 6 * $dist-input-padding;
    }
  }

  &__max-length {
    color: inherit;
    display: flex;
    font-size: smaller;
    justify-content: flex-end;
    width: 100%;
  }

  &__errors {
    color: $col-error;
    display: flex;
    flex-direction: column;
    padding: ($unit-base / 6) 0;
  }

  &__error {
    color: inherit;
    font-size: 12px;
    line-height: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
  }

  &__error-messages {
    display: flex;
    flex-direction: column;
    padding: ($unit-base / 6) 0;
  }

  &__error-message {
    color: $col-error;
    font-size: 12px;
    line-height: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
  }

  &__login {
    &--text_amplifier {
      background-color: $col-white;
      border-radius: 24px;
      color: $col-primary !important;
      margin: auto;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: $unit-base-quarter !important;
      position: relative;
      text-align: center;
      width: 100%;
    }
  }
}
