.selection {
  &__wrapper {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    margin: 0 auto $unit-font-input auto;
    position: relative;
    width: 100%;
  }

  &__label {
    background-color: inherit;
    color: $col-input-label;
    display: flex;
    font-size: $unit-font-input;
    justify-self: flex-start;
    line-height: 1.5 * $unit-font-input;
    padding: 0 $dist-input-padding;
    position: relative;

    &--active {
      color: $col-input-label-focus;
    }
  }

  &__checkbox {
    background-color: inherit;
    border: 2px solid $col-input-label;
    border-radius: 0.125 * $unit-nav-icon;
    cursor: pointer;
    flex-shrink: 0;
    height: $unit-checkbox;
    margin: 0 (0.25 * $unit-checkbox);
    position: relative;
    width: $unit-checkbox;

    &:focus {
      outline: none;
    }

    &::after {
      background-color: $col-input-underline-focus;
      border-radius: 0.125 * $unit-checkbox;
      content: '';
      height: 0.5 * $unit-checkbox;
      margin: ($unit-checkbox - (0.5 * $unit-checkbox) - (2 * 2px)) / 2;
      opacity: 0;
      position: absolute;
      width: 0.5 * $unit-checkbox;
    }

    &--selected {
      border-color: $col-input-underline-focus;

      &::after {
        opacity: 1;
      }
    }
  }

  &__markup {
    color: $col-input-label;
    display: none;
  }

  &__errors {
    color: $col-error;
    display: flex;
    flex-direction: column;
    padding: ($unit-base / 6) 0;
  }

  &__error {
    color: inherit;
    font-size: 12px;
    line-height: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
  }

  &__error-messages {
    display: flex;
    flex-direction: column;
    padding: ($unit-base / 6) 0;
  }

  &__error-message {
    color: $col-error;
    font-size: 12px;
    line-height: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
  }
}
